<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/icon.png">
        <title>Help</title>
        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="div main-content">
            {{>header}}
            <p>{{Name}}</p>
        </div>
        {{>footer}}
    </body>
</html>