<!DOCTYPE html>
<html>
    <head>
        <title>Weather</title>
        <link rel="icon" href="/img/icon.png">

        <link rel="stylesheet" href="/css/style.css">
        
    </head>
    <body>
        <div class="div main-content">
            {{>header}}
            <div class="heading">Search any location to get Weather Forecast</div>
            <form>
                <input placeholder="Location">
                <button>Search</button>
            </form>
            <p id="message-1"></p>
            <p id="message-2"></p>
        </div>
        
        {{>footer}}
        <script src="/js/app.js"></script>
        
    </body>
</html>